# Class exercise 1
![]( https://miro.medium.com/max/1266/1*Pb8oEA1nGIONsSJk7QSVzg.png)

In [10]:
num1 = int(input("number 1: "))
num1 *= int(input("number 2"))
print(num1)

number 1: 16
number 24
64

#Class exercise 2

In [18]:
nums = list(range(1, 20, 2))
print(nums)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [24]:
nums = list(range(2, 1000001, 2))
print(min(nums))
print(max(nums))
print(sum(nums))

2
1000000
250000500000

In [31]:
new_list = [value * 3 for value in range(1,101)]
print(new_list)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300]

In [35]:
new_list2 = [value ** 3 for value in range(1,11)]
print(new_list2)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

#Class exercise 3

In [52]:
userin = input('type a date in the form of dd-mm-yy ie: 01-MARCH-99')

def month_to_num(userin):
    new_dict = {'JAN': 1, 'FEB': 2, 'MAR': 3, 'APR': 4, 'MAY': 5, 'JUN': 6, 'JUL': 7}
    splitted = userin.split('-')
    splitted[1] = new_dict[splitted[1].upper()[0:3]]
    return tuple({splitted[0], splitted[1], splitted[2]})

#print(splitted[0]+ '-' + str(splitted[1])+ '-' + splitted[2])
print(month_to_num(userin))

type a date in the form of dd-mm-yy ie: 01-MARCH-9901-mar-99
('99', '01', 3)

Object `split` not found.