## 05-2 exercise 1

In [13]:
import numpy as np
import pandas as pd

data = np.array([['','Col1','Col2','col3'],
                ['Row1',1,2,3],
                ['Row2',4,5,6],
                ['Row3',7,8,9]])

pd_data = pd.DataFrame(data=data[1:4,1:4], columns=data[0,1:4], index=data[1:4,0])
print(pd_data['Col2'])

print(pd_data.iloc[:,2])
print(pd_data.iloc[2, 1])

Row1    2
Row2    5
Row3    8
Name: Col2, dtype: object
Row1    3
Row2    6
Row3    9
Name: col3, dtype: object
8

## 05-2 exercise 2

In [96]:
data = pd.read_csv('../data/API_EN.ATM.CO2E.KT_DS2_en_csv_v2_1345584.csv', skiprows=4)
pdser = pd.Series(data=data['2014'].values, index=data['Country Name'])
print(pdser)
data_sortet = pdser.sort_values(ascending=False)
print(data_sortet.iloc[0:10])

country_codes = pd.read_csv('../data/country_codes.csv', sep='\t', header=None)
print(country_codes)
countries = data[data['Country Code'].isin(country_codes.iloc[:][2].str.strip().tolist())]
countries.sort_values(ascending=False, by='2014').iloc[0:10]

china_series = pd.Series(data=data[:][4:61], index=data['Country Name'])

Country Name
Aruba              872.746
Afghanistan       8467.103
Angola           44851.077
Albania           5489.499
Andorra            462.042
                   ...
Kosovo            7260.660
Yemen, Rep.      24667.909
South Africa    484495.041
Zambia            4503.076
Zimbabwe         12115.768
Length: 264, dtype: float64
Country Name
IDA & IBRD total                               2.155943e+07
Low & middle income                            2.110046e+07
Middle income                                  2.091510e+07
IBRD only                                      2.073197e+07
Upper middle income                            1.693238e+07
Late-demographic dividend                      1.509443e+07
East Asia & Pacific                            1.413107e+07
High income                                    1.298539e+07
OECD members                                   1.220186e+07
East Asia & Pacific (excluding high income)    1.155527e+07
dtype: float64
                   0    1     2    3
0       Afghanistan   AF   AFG     4
1           Albania   AL   ALB     8
2           Algeria   DZ   DZA    12
3    American Samoa   AS   ASM    16
4           Andorra   AD   AND    20
..               ...  ...   ...  ...
244  Western Sahara   EH   ESH   732
245           Yemen   YE   YEM   887
246          Zambia   ZM   ZMB   894
247        Zimbabwe   ZW   ZWE   716
248   Ã…land Islands   AX   ALA   248

[249 rows x 4 columns]

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().